<template>
    <v-container class="position-relative h-100 p-0">
        <v-row class="mt-5 text-start px-1">
            <v-col cols="12">
                <h1 class="text-light mb-0">Festival</h1>
                <h1 class="text-light mb-0">HEC Life Project</h1>
            </v-col>
            <v-col class="pt-0" cols="12">
                <h3 class="text-uppercase green">work for good</h3>
                <p class="green">Et si notre travail avait le pouvoir de (nous) faire du bien ?</p>
            </v-col>
            <v-col cols="12">
                <p class="text-light text-uppercase">du 4 au 6 avril</p>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
// import AppButton from "@/components/ui/AppButton.vue"
export default {
    name:'AppCover',
    props:{
        cover:{
            type:String
        }
    }
}
</script>
<style lang="scss" scoped>
h1{
    font-family: 'Times New Roman', Times, serif;
}
.green{
    color: var(--bs-green);
}
p{
    margin-right: 20px;
}
</style>