<template>
    <v-container class="position-relative p-0">
        <v-row class="h-100 d-flex justify-content-center w-100">
            <v-col v-for="n, index in [1,2,3,4]" :key="index" class="py-0 position-relative">
                <div class="w-100 backgrounded h-100" :style="{ backgroundImage: 'url(' + getBackgroundImage(n) + ')' }"></div>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
// import AppButton from "@/components/ui/AppButton.vue"
export default {
    name:'AppFooter',
    methods: {
        getBackgroundImage(index){
            if(index == 1){
                return require("@/assets/images/Logo-01.png")
            }
            else if(index == 2){
                return require("@/assets/images/Logo-02.png")
            }
            else if(index == 3){
                return require("@/assets/images/Logo-03.png")
            }
            else if(index == 4){
                return require("@/assets/images/Logo-04.png")
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.scroll{
    overflow-x: scroll !important;
}

.backgrounded{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
</style>