<template>
    <v-container class="px-1">
        <v-row class="text-start mb-3">
            <v-col cols="12">
                <h3 class="text-start font-weight-black">{{ $t('a-la-une')}}</h3>
            </v-col>
            <v-col class="d-flex justify-content-start" cols="12">
                <span class="p-2 rounded backgrounded opacity-25 text-uppercase"> <span class="text-light">{{occ.begin_at | DD_MMM_YYYY}} - {{occ.end_at | DD_MMM_YYYY}}</span></span>
            </v-col>
            <v-col cols="12">
                <p class="mb-0 text-dark ">
                    ALUMNI VOICES - POSTPONED Finding an internship during COVID 19 outbreak and turning it towards a full-time position with Rabiga MARCULAN
                </p>
            </v-col>
            <v-col class="d-flex justify-content-start flex-column" cols="12">
                <p class="mb-0 text-muted">
                    <span class="text-pink">
                        <v-icon
                            color="blue darken-2"
                        >
                        mdi-map-marker-outline
                        </v-icon>
                    </span>
                    {{occ._embedded.address.address}}
                </p>
                <p v-if="occ.is_webinar" class="mb-0 text-muted">
                    <span class="text-pink">
                        <v-icon
                            color="blue darken-2"
                            class="text-pink"
                        >
                        mdi-video-outline
                        </v-icon>
                    </span>
                    Consultation en ligne
                </p>
            </v-col>
        </v-row>
        <v-row class="my-3">
            <v-col cols="6">
                <v-btn
                    rounded
                    class="backgrounded purple p-4"
                    dark
                    @click="goTo(occ.web_url)"
                >
                    En Savoir plus
                </v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
// import AppButton from "@/components/ui/AppButton.vue"
export default {
    name:'AppSideBar',
    props:{
        occ:{
            type:Object
        }
    },
    methods:{
        goTo(url){
            var fileLink = document.createElement("a")
            fileLink.href = url
            fileLink.setAttribute("target", "_blank")
            document.body.appendChild(fileLink)
            fileLink.click()
        },
    },
    mounted(){
        console.log(this.occ);
    },
}
</script>
<style lang="scss" scoped>
$violet : #9435dc;
.backgrounded{
    background-color: $violet;

    &.purple{
       background-color: $violet !important; 
    }
}
.text-pink{
    color: $violet !important;
}
p{
      font-family: Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
}
</style>
