<template>
    <v-container>
        <v-row class="h-50 d-flex align-items-center p-0">
            <v-col cols="12" class="d-block">
                <h1 class="text-uppercase green mb-1">HEC</h1>
                <span class="text-center text-uppercase green mb-3">paris</span>
                <h6 class="text-center text-uppercase green">life project</h6>
            </v-col>
        </v-row>
        <v-row class="h-50 position-relative p-0 m-0">
            <v-col cols="4"></v-col>
            <v-col cols="8" class="bg-warning round-top opacity-75">
                <p class="text-end mb-0 text-light">Environnement</p>
                <p class="text-end mb-0 text-light">Hygiène</p>
            </v-col>
            <v-col class="bg-danger round-bottom" cols="11">
                <h6 class="text-uppercase text-start mb-0 text-light">- commerces</h6>
                <h6 class="text-uppercase text-start mb-0 text-light">- ateliers</h6>
                <h6 class="text-uppercase text-start mb-0 text-light">- coaching</h6>
                <h6 class="text-uppercase text-start mb-0 text-light">- networking</h6>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
// import AppButton from "@/components/ui/AppButton.vue"
export default {
    name:'CoverSideBar',
   
}
</script>
<style lang="scss" scoped>
span, p{
      font-family: Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
}

.green{
    color: #3a6664;
}

.round-top{
    border: none;
    border-radius: 30px 0% 0% 0%;
    overflow: hidden;
}
.round-bottom{
    border: none;
    border-radius: 0px 0% 30px 0px;
    overflow: hidden;
}
</style>