<template>
  <v-container v-if="occurence" class="d-flex justify-center align-center bg-light">
    <v-row class="round m-1">
        <v-col md="5" xs="12" sm="12">
            <AppSideBar 
                :occ="occurence.data"
            />
        </v-col>
        <v-col cols="12" md="7" xs="12" sm="12" class="position-relative p-0">
            <v-row class="m-0 h-100 position-relative">
                <v-col cols="12" md="5" xs="12" sm="12" class="p-0 bg-warning opacity-75 position-relative main">
                    <v-row class="m-0 p-0 h-100">
                        <v-col cols="12" class="p-0 bg pink round-bottom">
                            <CoverSideBar class="h-100 position-relative px-0"/>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="12" md="7" xs="12" sm="12" class="position-relative cover main" :style="{ backgroundImage: 'url(' + getBackgroundImage(occurence.data.cover) + ')' }">
                    <AppCover
                        :cover="occurence.data.cover"
                    />
                </v-col>
                <v-col class=" d-flex justify-content-center footer" cols="12">
                    <AppFooter class="h-100"/>
                </v-col>
            </v-row>
        </v-col>
    </v-row>
  </v-container>
</template>

<script>
import AppCover from "@/components/layout/AppCover.vue"
import AppFooter from "@/components/layout/AppFooter.vue"
import AppSideBar from "@/components/layout/AppSideBar.vue"
import CoverSideBar from "@/components/layout/CoverSideBar.vue"
import { getAllOccurence } from '@/api/occurence';

  export default {
    name: 'HomePage',
    components:{
        AppCover,
        AppFooter,
        AppSideBar,
        CoverSideBar
    },
    data: () => ({
      occurence:null
    }),
    methods: {
        getBackgroundImage(url){
            if(url){
                return require("@/assets/images/green-back.png")
            }
        }
    },
    async mounted(){
        this.occurence = await getAllOccurence()
    }
  }
</script>
<style lang="scss" scoped>
.round{
    border: 0px solid;
    background: #fff;
    border-radius: 20px;
}
.cover{
    border-radius: 0px 20px 0px 0px;
    // overflow: hidden;
}
.sidebar{
    border-radius: 20px 0px 0px 0px;
}
.footer{
    position: absolute;
    bottom: 0;
    height: 15%;
}
.main{
    height: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg{
    &.pink{
        background-color: #ECD0C4;
    }
    &.round-bottom{
        border: none;
        border-radius: 0% 0% 0% 20%;
        overflow: hidden;
    }
}
</style>