<template>
    <v-container>
        <v-row>
            <v-btn
                rounded
                class="backgrounded p-3"
                dark
                >
                Rounded Button
            </v-btn>
        </v-row>
    </v-container>
</template>
<script>
// import AppButton from "@/components/ui/AppButton.vue"
export default {
    name:'AppButton',
   
}
</script>
<style lang="scss" scoped>
.backgrounded{
    background-color: var(--bs-purple) !important;
}
.text-pink{
    color: var(--bs-pink) !important;
}
</style>